body {
    overflow-x: hidden;
}

.spotify:hover {
    color: blue;
}

.circle {
    content: "";
    width: 375px;
    height: 375px;
    background: linear-gradient(90deg, rgba(4,70,162,1) 0%, rgba(78,61,255,1) 0%, rgba(40,10,252,1) 0%, rgba(20,11,203,1) 0%, rgba(135,32,194,1) 100%, rgba(138,24,194,1) 100%, rgba(143,25,212,1) 100%);
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle::before {
    content: "X";
    position: absolute;
    color: blue;
    font-size: x-large;
    font-weight: 900;
    left: 0;
    bottom: 0;
    transform: rotate(-10deg);
}

.circle::after {
    content: ".";
    position: absolute;
    color: blue;
    font-size: 50px;
    font-weight: 900;
    right: 0;
    top: 0;
}

.purple-section {
    background: linear-gradient(90deg, rgba(4,70,162,1) 0%, rgba(78,61,255,1) 0%, rgba(40,10,252,1) 0%, rgba(20,11,203,1) 0%, rgba(135,32,194,1) 100%, rgba(138,24,194,1) 100%, rgba(143,25,212,1) 100%);
}
.circle-2 {
    content: "";
    width: 220px;
    height: 220px;
    background: linear-gradient(90deg, rgba(4,70,162,1) 0%, rgba(78,61,255,1) 0%, rgba(40,10,252,1) 0%, rgba(20,11,203,1) 0%, rgba(152,17,223,1) 56%, rgba(138,24,194,1) 100%, rgba(196,67,250,1) 100%);
    border-radius: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.phone-2 {
    margin-left: 50px;
}

.circle-2::before {
    content: ".";
    position: absolute;
    left: 0;
    bottom: 0;
    color: blue;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: -25px;
}

.circle-2::after {
    content: "X";
    position: absolute;
    right: 0;
    top: 0;
    color: blue;
    font-size: x-large;
    font-weight: 900;
    margin-right: -50px;
    margin-top: -50px;
    transform: rotate(20deg);
}



.image-container {
    width: 100vw;
    height: 70vh;
    position: relative;
    display: inline-block;
   
  }

  .img-circle {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-text {
    position: absolute;
    bottom: 100px; 
    left: 175px; 
    color: white; 
    font-size: 50px; 
  }

  .download-btn:hover {
    color: black !important;
  }

  .last-section {
    background: linear-gradient(90deg, rgba(4,70,162,1) 0%, rgba(78,61,255,1) 0%, rgba(40,10,252,1) 0%, rgba(20,11,203,1) 0%, rgba(152,17,223,1) 56%, rgba(138,24,194,1) 100%, rgba(196,67,250,1) 100%);
  }

 .dot {
    position: relative;
    top: -3px;
    color: rgba(255, 255, 255, .5);
 }

 .footer-a:hover {
    text-decoration: underline !important;
 }

 .modal-header {
    background: linear-gradient(90deg, rgba(4,70,162,1) 0%, rgba(78,61,255,1) 0%, rgba(40,10,252,1) 0%, rgba(20,11,203,1) 0%, rgba(152,17,223,1) 56%, rgba(138,24,194,1) 100%, rgba(196,67,250,1) 100%);
 }

 @media (max-width:576px) {
    .image-text {
        left: 50%;
        bottom: unset;
        top:50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image-text br {
        display: none;
    }
 }

 